.input-field {
  border: none;
  border-bottom: 1px solid #060606;
  outline: none;
  background: none;
  width: 370px;
  color: #080808;
  font-size: 14px;
  padding: 8px 0;
}

.input-field:focus {
  border-bottom: 1px solid #011c69;
  color: #000;
}

.input-field::placeholder {
  color: #4f4d4d;
}

.input-field:focus::placeholder {
  color: #011c69;
}