.login-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-card {
  background-color: white;
  padding: 40px 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.input-field {
  border: none;
  border-bottom: 1px solid #060606;
  outline: none;
  background: none;
  width: 100%;
  color: #080808;
  font-size: 14px;
  padding: 8px 0;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.input-field:focus {
  border-bottom: 1px solid #011c69;
  color: #000;
}

.input-field::placeholder {
  color: #4f4d4d;
}

.input-field:focus::placeholder {
  color: #011c69;
}

.login-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 30px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #c9302c;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  text-align: left;
}

@media (max-width: 480px) {
  .login-card {
    padding: 30px 20px;
  }

  .login-title {
    font-size: 18px;
  }

  .input-field {
    font-size: 13px;
  }

  .login-button {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}